body {
  font-family: Arial, sans-serif;
  background: #eee;
  margin: 0;
}

.container {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: #044f88;;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 70px;
  width: 100%;
}

input {
  background-color: #044f88;;
  flex: 1;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  outline: none;
  color: #eee;
}

input::placeholder {
  color: #eee;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  background-color: #044f88;
  color: #eee;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #044f88;;
  border-radius: 20px;
  padding: 14px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #eee;
}

li span {
  flex: 1;
  word-break: break-word;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.done {
  text-decoration: line-through;
  color: #eee;
}
